body {
  background-color: #F0FCEE;
  width: 80vw;
  height: 90vh;
  position: relative;
  font-family: 'Lobster', cursive;
  font-weight: 400;
  border: #A98F89 solid 3px;
  border-radius: 10px;
  display: block;
  margin: 40px auto;
}

.note {
  width: 100px;
}

.side-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

p {
  font-family: 'Roboto';
}

footer {
  position: absolute;
  top: 555px;
  left: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
